@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1a191f;
    font-family: "Saira", sans-serif;
    color: #f3f4f6;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}